<layout name="layout" />



<div class="tab-div">
    <div id="tabbar-div">
        <p>
            <span class="tab-front" id="general-tab">通用信息</span>
        </p>
    </div>
    <div id="tabbody-div">
        <form enctype="multipart/form-data" action="<?php echo U('add') ?>" method="post">
            <table width="90%" id="general-table" align="center">
                <tr>
                    <td class="label">上级分类：</td>
                    <td>
                        <select name="parent_id" id="">
                           <option value="0">顶级分类</option>
                            <?php foreach($data as $k=>$v) { ?>
                            <option value="<?php echo $v['id']; ?>" ><?php echo str_repeat('-----/',$v['level']).$v['cate_name']; ?></option>
                            <?php } ?>
                        </select>
                    </td>
                </tr>
                <tr>

                    <td class="label">分类名称：</td>
                    <td><input type="text" name="cate_name" value=""size="30" />

                </tr>
            </table>
            <div class="button-div">
                <input type="submit" value=" 确定 " class="button"/>
                <input type="reset" value=" 重置 " class="button" />
            </div>
        </form>
    </div>
</div>


